.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--color-4);
  color: var(--color-6);
  height: 50px;
}

.nav > div {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

/* left */
.left {
  display: flex;
  align-items: center;
}

/* logo */
.branding {
  display: flex;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;
}

.branding > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.branding > p {
  font-size: clamp(20px, 2vw, 25px);
}

/* links */
.links > * {
  text-decoration: none;
  color: var(--color-6);
  position: relative;
  transition: all 0.2s;
}

.links > *:hover {
  color: white;
}

.links > *.router-link-active {
  color: white;
}

.links > *.router-link-active > span {
  background-color: var(--color-6);
  animation-name: fadein;
  animation-duration: 0.1s;
}

.links > * > span {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  height: 3px;
  border-radius: 10px;
  width: 100%;
  display: block;
  transition: all 0.1s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
