* {
  transition: transform, height 0.2s ease-out;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper > div {
  margin-top: 40px;
  width: 60%;
  min-height: calc(100vh - 130px);
  background-color: var(--color-3);
  color: var(--color-6);
  border-radius: 7px 7px 0px 0px;
}

.vertdivider {
  width: 2px;
  height: 220px;
  border-radius: 7px;
  background-color: rgba(128, 128, 128, 0.16);
}

/* LIVE INDICATOR */
.liveind {
  background-color: rgb(255, 61, 61);
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  box-sizing: border-box;
  border-radius: 7px;
  opacity: 1;
  animation: 5s live linear infinite;
}

@keyframes live {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.2;
  }
  40% {
    opacity: 1;
  }
}

/* titlebar */
.titlebar {
  background-color: var(--color-2);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(15px, 2vw, 20px);
  height: 30px;
  border-radius: 7px 7px 0px 0px;
}

/* left */
.left {
  display: flex;
}

.left > i {
  margin-right: 10px;
}

/* right */
.selector {
  display: flex;
}

.selector > * {
  border-radius: 7px;
  padding: 7px;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 2px;
  margin-left: 2px;
  transition: all 0.2s;
  font-size: 15px;
}

.selector > *:hover:not(.sactive) {
  background-color: rgba(255, 255, 255, 0.051);
  padding-right: 15px;
  padding-left: 15px;
}

.sactive {
  background-color: rgba(255, 255, 255, 0.187);
  padding-right: 7px;
  padding-left: 7px;
}

.sdisabled {
  opacity: 0.4;
  pointer-events: none;
  text-decoration: none;
}

/* userprofile */
.banner {
  background-size: cover;
  height: 250px;
  position: relative;
  background-color: var(--color-4);
}

/* bannerclose button */
.bannerbutton {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.4s;
  color: var(--color-6);
}

.bannerbutton:hover {
  color: var(--color-5);
}

.bannerbutton.bannerclosed {
  transform: rotate(180deg);
}

/* bannerclosed status */
.bannerclosed.banner {
  height: 0px;
}

.bannerclosed > .pfp {
  transform: translateY(0px);
  margin: 20px;
  height: 80px;
  width: 80px;
  box-sizing: content-box;
}

.userdata.bannerclosed {
  height: auto;
}

/* - userdata */
.userdata {
  position: relative;
  background-color: var(--color-3);
  display: flex;
  height: 150px;
  align-items: flex-start;
}

/* - pfp */
.pfp {
  border-radius: 7px;
  transform: translateY(-40px);
  margin-left: 50px;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  background-color: var(--color-6);
  transition: all 0.2s;
  outline-offset: 0px;
}

.pfp.online {
  outline: 3px solid rgb(84, 255, 84);
  outline-offset: 4px;
}

/* -- userdatatext */
.text {
  margin-top: 15px;
}

.usernametext {
  font-size: clamp(20px, 5vw, 25px);
  font-weight: bold;
}

.country {
  margin-top: 3px;
  display: flex;
  align-items: center;
  font-size: clamp(15px, 3vw, 17px);
}

.flag {
  width: 30px;
  margin-right: 7px;
}

/* rankwrapper */
.rankwrapper {
  background-color: var(--color-2);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rankwrapper > .left {
  flex: 0.6;
  flex-direction: column;
  align-items: flex-start;
}

.rankwrapper > .right {
  flex: 0.3;
  flex-direction: column;
}
/* - rankings */
.rankings {
  display: flex;
  justify-content: space-between;
}
.ranking {
  margin-right: 20px;
}

.ranking > .label {
  font-size: clamp(15px, 2vw, 17px);
}
.ranking > .rankno {
  font-size: clamp(25px, 2vw, 30px);
}

/* - graph */
.left > .graph {
  box-sizing: border-box;
  background-color: var(--color-3);
  padding: 20px;
  border-radius: 7px;
  margin-top: 20px;
  width: 400px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* - stats */
.stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.stats > div {
  display: flex;
}

.stat {
  margin-right: 15px;
}

.stat > :nth-child(1) {
  font-weight: bold;
  font-size: clamp(14px, 2vw, 15px);
}

.stat > :nth-child(2) {
  font-size: clamp(15px, 2vw, 17px);
}

/* - keys/values */
.rankwrapper > .right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(13px, 1vw, 20px);
  margin-right: 20px;
}

.keys {
  font-weight: bold;
}
.values {
  text-align: right;
}

/* sections */
.section {
  background-color: var(--color-2);
  border: 3px solid var(--color-1);
  margin: 10px;
  border-radius: 7px;
  min-height: 0;
}

.sectiontitle {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--color-1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.sectiontitle > div {
  display: flex;
  align-items: center;
}

.sectiontitle > div > p {
  margin-left: 10px;
}

.sectionbutton {
  transition: all 0.2s;
  font-size: 25px;
}

.content {
  overflow-y: scroll;
  height: 400px;

  transition: all 0.2s;
}

.sectionbutton:hover {
  cursor: pointer;
  color: var(--color-5);
}

.sectionbutton.sectionclosed {
  transform: rotate(180deg);
}

.sectionclosed:not(i) {
  height: 0px;
}
/* aboutme */
.aboutmecont {
  padding: 10px;
  overflow-y: auto;
  max-height: 300px;
}

.aboutmecont.sectionclosed {
  padding: 0;
}
/* plays */
.play {
  margin: 20px;
  border-radius: 7px;
  background-color: var(--color-3);
  padding: 15px;
  opacity: 1;
  animation: fadein 0.2s linear;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.play > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play > div > div {
  display: flex;
}

.titlespace {
  align-items: center;
}

.grade {
  font-size: clamp(40px, 3vw, 50px);
  margin-right: 10px;
  font-weight: bold;
  width: 85px;
  text-align: center;
}
/* Grade Coloring */
.grade-SH,
.grade-XH {
  color: rgb(205, 231, 231);
}

.grade-S,
.grade-X {
  color: #fc2;
}

.grade-A {
  color: rgb(43, 255, 53);
}

.grade-B {
  color: rgb(61, 151, 255);
}

.grade-C {
  color: rgb(255, 86, 218);
}

.grade-D {
  color: rgb(255, 98, 98);
}

.grade-F {
  color: rgb(255, 89, 89);
}
.bmtitle {
  font-weight: bold;
  font-size: clamp(15px, 3vw, 20px);
}

.bmver {
  font-size: clamp(15px, 3vw, 17px);
}

.bmstats {
  flex-direction: column;
  align-items: flex-end;
}

.bmppstat {
  font-size: clamp(20px, 3vw, 30px);
}
